*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --grey: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}

body {
  background-color: var(--dark-grey);
  font-family: Arial, sans-serif; /* Improved readability */
  color: var(--light-grey); /* Consistent text color */
}

.title {
  color: var(--golden-yellow); /* Make the title stand out */
  text-align: center;
  margin: 25px 0;
  font-size: 2rem; /* Larger title */
}

#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px; /* Added padding for spacing */
}

.dessert-card {
  background-color: var(--light-grey);
  padding: 20px; /* Increased padding */
  text-align: center;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
  width: calc(100% - 40px); /* Ensure consistent width with padding */
}

.dessert-price, .product-category {
  font-size: 1.2rem;
  color: var(--grey); /* Slightly darker color for better contrast */
}

.btn {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px; /* More clickable area */
  color: var(--dark-grey);
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border: none; /* Removed border for a cleaner look */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Emphasize button text */
  margin-top: 15px; /* Consistent spacing */
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

#cart-btn {
  position: fixed; /* Changed to fixed for consistent positioning */
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
}

.add-to-cart-btn {
  margin: 10px auto;
}

#cart-container {
  display: none;
  position: fixed; /* Consistent positioning */
  top: 80px; /* Adjusted for visibility */
  right: 20px;
  background-color: var(--light-grey);
  width: 250px; /* Adjusted width */
  padding: 15px; /* Inner spacing */
  border: 3px solid var(--grey); /* Subtle border */
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  overflow-y: auto; /* Ensure content is scrollable */
  z-index: 1000; /* Above other content */
}

.product {
  margin: 20px 0;
}

.product-count {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold; /* Highlight count */
}

@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
    justify-content: center; /* Center cards for wider screens */
  }

  .dessert-card {
    flex: 1 0 21%; /* Adjusted for screen size */
    margin: 20px; /* Consistent margin */
  }

  #cart-container {
    width: 300px; /* Larger cart on wider screens */
   
